<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.pde.ui.EquinoxLauncher">
    <booleanAttribute key="append.args" value="true"/>
    <booleanAttribute key="automaticAdd" value="true"/>
    <booleanAttribute key="automaticValidate" value="true"/>
    <stringAttribute key="bootstrap" value=""/>
    <stringAttribute key="checked" value="[NONE]"/>
    <booleanAttribute key="clearConfig" value="true"/>
    <stringAttribute key="configLocation" value="${workspace_loc}/.metadata/.plugins/org.eclipse.pde.core/New_configuration"/>
    <booleanAttribute key="default" value="true"/>
    <booleanAttribute key="default_auto_start" value="true"/>
    <intAttribute key="default_start_level" value="4"/>
    <setAttribute key="deselected_workspace_bundles">
        <setEntry value="CostomerConsumer"/>
        <setEntry value="CustomerPublisher"/>
        <setEntry value="RentalInfoConsumer"/>
        <setEntry value="RentalInfoPublisher"/>
        <setEntry value="VehicleConsumer"/>
        <setEntry value="VehiclePublisher"/>
    </setAttribute>
    <booleanAttribute key="includeOptional" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_SHOW_CODEDETAILS_IN_EXCEPTION_MESSAGES" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/jdk-17.0.2"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-os ${target.os} -ws ${target.ws} -arch ${target.arch} -nl ${target.nl} -consoleLog -console"/>
    <stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.pde.ui.workbenchClasspathProvider"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dorg.eclipse.swt.graphics.Resource.reportNonDisposed=true -Declipse.ignoreApp=true -Dosgi.noShutdown=true"/>
    <stringAttribute key="pde.version" value="3.3"/>
    <setAttribute key="selected_target_bundles">
        <setEntry value="ch.qos.logback.classic"/>
        <setEntry value="ch.qos.logback.core"/>
        <setEntry value="ch.qos.logback.slf4j"/>
        <setEntry value="com.google.gson"/>
        <setEntry value="com.google.guava*21.0.0.v20170206-1425"/>
        <setEntry value="com.google.guava*27.1.0.v20190517-1946"/>
        <setEntry value="com.ibm.icu"/>
        <setEntry value="com.jcraft.jsch"/>
        <setEntry value="com.sun.el"/>
        <setEntry value="com.sun.jna"/>
        <setEntry value="com.sun.jna.platform"/>
        <setEntry value="com.sun.xml.bind*2.2.0.v20201118-1845"/>
        <setEntry value="com.sun.xml.bind*2.3.3.v20201118-1818"/>
        <setEntry value="jakarta.xml.bind"/>
        <setEntry value="javaewah"/>
        <setEntry value="javax.activation*1.1.0.v201211130549"/>
        <setEntry value="javax.activation*1.2.2.v20201119-1642"/>
        <setEntry value="javax.annotation"/>
        <setEntry value="javax.el"/>
        <setEntry value="javax.inject"/>
        <setEntry value="javax.servlet"/>
        <setEntry value="javax.servlet.jsp"/>
        <setEntry value="javax.xml"/>
        <setEntry value="javax.xml.bind"/>
        <setEntry value="net.i2p.crypto.eddsa"/>
        <setEntry value="org.apache.ant"/>
        <setEntry value="org.apache.batik.constants"/>
        <setEntry value="org.apache.batik.css"/>
        <setEntry value="org.apache.batik.i18n"/>
        <setEntry value="org.apache.batik.util"/>
        <setEntry value="org.apache.commons.codec"/>
        <setEntry value="org.apache.commons.compress"/>
        <setEntry value="org.apache.commons.io"/>
        <setEntry value="org.apache.commons.jxpath"/>
        <setEntry value="org.apache.commons.lang"/>
        <setEntry value="org.apache.commons.logging"/>
        <setEntry value="org.apache.felix.gogo.command"/>
        <setEntry value="org.apache.felix.gogo.runtime"/>
        <setEntry value="org.apache.felix.gogo.shell"/>
        <setEntry value="org.apache.felix.scr"/>
        <setEntry value="org.apache.httpcomponents.httpclient"/>
        <setEntry value="org.apache.httpcomponents.httpclient.win"/>
        <setEntry value="org.apache.httpcomponents.httpcore"/>
        <setEntry value="org.apache.jasper.glassfish"/>
        <setEntry value="org.apache.lucene.analyzers-common"/>
        <setEntry value="org.apache.lucene.analyzers-smartcn"/>
        <setEntry value="org.apache.lucene.core"/>
        <setEntry value="org.apache.sshd.osgi"/>
        <setEntry value="org.apache.sshd.sftp"/>
        <setEntry value="org.apache.xerces"/>
        <setEntry value="org.apache.xml.resolver"/>
        <setEntry value="org.apache.xmlgraphics"/>
        <setEntry value="org.apiguardian"/>
        <setEntry value="org.bouncycastle.bcpg"/>
        <setEntry value="org.bouncycastle.bcprov"/>
        <setEntry value="org.eclipse.ant.core"/>
        <setEntry value="org.eclipse.ant.launching"/>
        <setEntry value="org.eclipse.ant.ui"/>
        <setEntry value="org.eclipse.buildship.branding"/>
        <setEntry value="org.eclipse.buildship.core"/>
        <setEntry value="org.eclipse.buildship.stsmigration"/>
        <setEntry value="org.eclipse.buildship.ui"/>
        <setEntry value="org.eclipse.cdt.core.native"/>
        <setEntry value="org.eclipse.cdt.core.win32"/>
        <setEntry value="org.eclipse.cdt.core.win32.x86_64"/>
        <setEntry value="org.eclipse.compare"/>
        <setEntry value="org.eclipse.compare.core"/>
        <setEntry value="org.eclipse.compare.win32"/>
        <setEntry value="org.eclipse.core.commands"/>
        <setEntry value="org.eclipse.core.contenttype"/>
        <setEntry value="org.eclipse.core.databinding"/>
        <setEntry value="org.eclipse.core.databinding.beans"/>
        <setEntry value="org.eclipse.core.databinding.observable"/>
        <setEntry value="org.eclipse.core.databinding.property"/>
        <setEntry value="org.eclipse.core.expressions"/>
        <setEntry value="org.eclipse.core.externaltools"/>
        <setEntry value="org.eclipse.core.filebuffers"/>
        <setEntry value="org.eclipse.core.filesystem"/>
        <setEntry value="org.eclipse.core.filesystem.win32.x86_64"/>
        <setEntry value="org.eclipse.core.jobs"/>
        <setEntry value="org.eclipse.core.net"/>
        <setEntry value="org.eclipse.core.net.win32.x86_64"/>
        <setEntry value="org.eclipse.core.resources"/>
        <setEntry value="org.eclipse.core.resources.win32.x86_64"/>
        <setEntry value="org.eclipse.core.runtime"/>
        <setEntry value="org.eclipse.core.variables"/>
        <setEntry value="org.eclipse.debug.core"/>
        <setEntry value="org.eclipse.debug.ui"/>
        <setEntry value="org.eclipse.e4.core.commands"/>
        <setEntry value="org.eclipse.e4.core.contexts"/>
        <setEntry value="org.eclipse.e4.core.di"/>
        <setEntry value="org.eclipse.e4.core.di.annotations"/>
        <setEntry value="org.eclipse.e4.core.di.extensions"/>
        <setEntry value="org.eclipse.e4.core.di.extensions.supplier"/>
        <setEntry value="org.eclipse.e4.core.services"/>
        <setEntry value="org.eclipse.e4.emf.xpath"/>
        <setEntry value="org.eclipse.e4.ui.bindings"/>
        <setEntry value="org.eclipse.e4.ui.css.core"/>
        <setEntry value="org.eclipse.e4.ui.css.swt"/>
        <setEntry value="org.eclipse.e4.ui.css.swt.theme"/>
        <setEntry value="org.eclipse.e4.ui.di"/>
        <setEntry value="org.eclipse.e4.ui.dialogs"/>
        <setEntry value="org.eclipse.e4.ui.ide"/>
        <setEntry value="org.eclipse.e4.ui.model.workbench"/>
        <setEntry value="org.eclipse.e4.ui.services"/>
        <setEntry value="org.eclipse.e4.ui.swt.win32"/>
        <setEntry value="org.eclipse.e4.ui.widgets"/>
        <setEntry value="org.eclipse.e4.ui.workbench"/>
        <setEntry value="org.eclipse.e4.ui.workbench.addons.swt"/>
        <setEntry value="org.eclipse.e4.ui.workbench.renderers.swt"/>
        <setEntry value="org.eclipse.e4.ui.workbench.swt"/>
        <setEntry value="org.eclipse.e4.ui.workbench3"/>
        <setEntry value="org.eclipse.ecf"/>
        <setEntry value="org.eclipse.ecf.filetransfer"/>
        <setEntry value="org.eclipse.ecf.identity"/>
        <setEntry value="org.eclipse.ecf.provider.filetransfer"/>
        <setEntry value="org.eclipse.ecf.provider.filetransfer.httpclient45"/>
        <setEntry value="org.eclipse.ecf.provider.filetransfer.httpclient45.win32"/>
        <setEntry value="org.eclipse.ecf.provider.filetransfer.ssl"/>
        <setEntry value="org.eclipse.ecf.ssl"/>
        <setEntry value="org.eclipse.eclemma.core"/>
        <setEntry value="org.eclipse.eclemma.doc"/>
        <setEntry value="org.eclipse.eclemma.ui"/>
        <setEntry value="org.eclipse.egit"/>
        <setEntry value="org.eclipse.egit.core"/>
        <setEntry value="org.eclipse.egit.doc"/>
        <setEntry value="org.eclipse.egit.ui"/>
        <setEntry value="org.eclipse.emf.common"/>
        <setEntry value="org.eclipse.emf.common.ui"/>
        <setEntry value="org.eclipse.emf.ecore"/>
        <setEntry value="org.eclipse.emf.ecore.change"/>
        <setEntry value="org.eclipse.emf.ecore.edit"/>
        <setEntry value="org.eclipse.emf.ecore.xmi"/>
        <setEntry value="org.eclipse.emf.edit"/>
        <setEntry value="org.eclipse.emf.edit.ui"/>
        <setEntry value="org.eclipse.epp.mpc.core"/>
        <setEntry value="org.eclipse.epp.mpc.core.win32"/>
        <setEntry value="org.eclipse.epp.mpc.help.ui"/>
        <setEntry value="org.eclipse.epp.mpc.ui"/>
        <setEntry value="org.eclipse.epp.mpc.ui.css"/>
        <setEntry value="org.eclipse.epp.package.common"/>
        <setEntry value="org.eclipse.epp.package.java"/>
        <setEntry value="org.eclipse.equinox.app"/>
        <setEntry value="org.eclipse.equinox.bidi"/>
        <setEntry value="org.eclipse.equinox.common"/>
        <setEntry value="org.eclipse.equinox.concurrent"/>
        <setEntry value="org.eclipse.equinox.console"/>
        <setEntry value="org.eclipse.equinox.event"/>
        <setEntry value="org.eclipse.equinox.frameworkadmin"/>
        <setEntry value="org.eclipse.equinox.frameworkadmin.equinox"/>
        <setEntry value="org.eclipse.equinox.http.jetty"/>
        <setEntry value="org.eclipse.equinox.http.registry"/>
        <setEntry value="org.eclipse.equinox.http.servlet"/>
        <setEntry value="org.eclipse.equinox.jsp.jasper"/>
        <setEntry value="org.eclipse.equinox.jsp.jasper.registry"/>
        <setEntry value="org.eclipse.equinox.launcher"/>
        <setEntry value="org.eclipse.equinox.launcher.win32.win32.x86_64"/>
        <setEntry value="org.eclipse.equinox.p2.artifact.repository"/>
        <setEntry value="org.eclipse.equinox.p2.console"/>
        <setEntry value="org.eclipse.equinox.p2.core"/>
        <setEntry value="org.eclipse.equinox.p2.director"/>
        <setEntry value="org.eclipse.equinox.p2.director.app"/>
        <setEntry value="org.eclipse.equinox.p2.directorywatcher"/>
        <setEntry value="org.eclipse.equinox.p2.discovery"/>
        <setEntry value="org.eclipse.equinox.p2.discovery.compatibility"/>
        <setEntry value="org.eclipse.equinox.p2.engine"/>
        <setEntry value="org.eclipse.equinox.p2.extensionlocation"/>
        <setEntry value="org.eclipse.equinox.p2.garbagecollector"/>
        <setEntry value="org.eclipse.equinox.p2.jarprocessor"/>
        <setEntry value="org.eclipse.equinox.p2.metadata"/>
        <setEntry value="org.eclipse.equinox.p2.metadata.repository"/>
        <setEntry value="org.eclipse.equinox.p2.operations"/>
        <setEntry value="org.eclipse.equinox.p2.publisher"/>
        <setEntry value="org.eclipse.equinox.p2.publisher.eclipse"/>
        <setEntry value="org.eclipse.equinox.p2.reconciler.dropins"/>
        <setEntry value="org.eclipse.equinox.p2.repository"/>
        <setEntry value="org.eclipse.equinox.p2.repository.tools"/>
        <setEntry value="org.eclipse.equinox.p2.touchpoint.eclipse"/>
        <setEntry value="org.eclipse.equinox.p2.touchpoint.natives"/>
        <setEntry value="org.eclipse.equinox.p2.transport.ecf"/>
        <setEntry value="org.eclipse.equinox.p2.ui"/>
        <setEntry value="org.eclipse.equinox.p2.ui.discovery"/>
        <setEntry value="org.eclipse.equinox.p2.ui.importexport"/>
        <setEntry value="org.eclipse.equinox.p2.ui.sdk"/>
        <setEntry value="org.eclipse.equinox.p2.ui.sdk.scheduler"/>
        <setEntry value="org.eclipse.equinox.p2.updatechecker"/>
        <setEntry value="org.eclipse.equinox.p2.updatesite"/>
        <setEntry value="org.eclipse.equinox.preferences"/>
        <setEntry value="org.eclipse.equinox.registry"/>
        <setEntry value="org.eclipse.equinox.security"/>
        <setEntry value="org.eclipse.equinox.security.ui"/>
        <setEntry value="org.eclipse.equinox.security.win32.x86_64"/>
        <setEntry value="org.eclipse.equinox.simpleconfigurator"/>
        <setEntry value="org.eclipse.equinox.simpleconfigurator.manipulator"/>
        <setEntry value="org.eclipse.help"/>
        <setEntry value="org.eclipse.help.base"/>
        <setEntry value="org.eclipse.help.ui"/>
        <setEntry value="org.eclipse.help.webapp"/>
        <setEntry value="org.eclipse.jdt"/>
        <setEntry value="org.eclipse.jdt.annotation*1.1.500.v20200407-1355"/>
        <setEntry value="org.eclipse.jdt.annotation*2.2.600.v20200408-1511"/>
        <setEntry value="org.eclipse.jdt.apt.core"/>
        <setEntry value="org.eclipse.jdt.apt.pluggable.core"/>
        <setEntry value="org.eclipse.jdt.apt.ui"/>
        <setEntry value="org.eclipse.jdt.compiler.apt"/>
        <setEntry value="org.eclipse.jdt.compiler.tool"/>
        <setEntry value="org.eclipse.jdt.core"/>
        <setEntry value="org.eclipse.jdt.core.formatterapp"/>
        <setEntry value="org.eclipse.jdt.core.manipulation"/>
        <setEntry value="org.eclipse.jdt.debug"/>
        <setEntry value="org.eclipse.jdt.debug.ui"/>
        <setEntry value="org.eclipse.jdt.doc.user"/>
        <setEntry value="org.eclipse.jdt.junit"/>
        <setEntry value="org.eclipse.jdt.junit.core"/>
        <setEntry value="org.eclipse.jdt.junit.runtime"/>
        <setEntry value="org.eclipse.jdt.junit4.runtime"/>
        <setEntry value="org.eclipse.jdt.junit5.runtime"/>
        <setEntry value="org.eclipse.jdt.launching"/>
        <setEntry value="org.eclipse.jdt.ui"/>
        <setEntry value="org.eclipse.jetty.continuation"/>
        <setEntry value="org.eclipse.jetty.http"/>
        <setEntry value="org.eclipse.jetty.io"/>
        <setEntry value="org.eclipse.jetty.security"/>
        <setEntry value="org.eclipse.jetty.server"/>
        <setEntry value="org.eclipse.jetty.servlet"/>
        <setEntry value="org.eclipse.jetty.util"/>
        <setEntry value="org.eclipse.jetty.util.ajax"/>
        <setEntry value="org.eclipse.jface"/>
        <setEntry value="org.eclipse.jface.databinding"/>
        <setEntry value="org.eclipse.jface.notifications"/>
        <setEntry value="org.eclipse.jface.text"/>
        <setEntry value="org.eclipse.jgit"/>
        <setEntry value="org.eclipse.jgit.archive"/>
        <setEntry value="org.eclipse.jgit.gpg.bc"/>
        <setEntry value="org.eclipse.jgit.http.apache"/>
        <setEntry value="org.eclipse.jgit.ssh.apache"/>
        <setEntry value="org.eclipse.jgit.ssh.jsch"/>
        <setEntry value="org.eclipse.jsch.core"/>
        <setEntry value="org.eclipse.jsch.ui"/>
        <setEntry value="org.eclipse.justj.openjdk.hotspot.jre.full"/>
        <setEntry value="org.eclipse.justj.openjdk.hotspot.jre.full.win32.x86_64"/>
        <setEntry value="org.eclipse.lsp4e"/>
        <setEntry value="org.eclipse.lsp4j"/>
        <setEntry value="org.eclipse.lsp4j.jsonrpc"/>
        <setEntry value="org.eclipse.ltk.core.refactoring"/>
        <setEntry value="org.eclipse.ltk.ui.refactoring"/>
        <setEntry value="org.eclipse.m2e.archetype.common"/>
        <setEntry value="org.eclipse.m2e.binaryproject"/>
        <setEntry value="org.eclipse.m2e.binaryproject.ui"/>
        <setEntry value="org.eclipse.m2e.core"/>
        <setEntry value="org.eclipse.m2e.core.ui"/>
        <setEntry value="org.eclipse.m2e.discovery"/>
        <setEntry value="org.eclipse.m2e.editor"/>
        <setEntry value="org.eclipse.m2e.editor.lemminx"/>
        <setEntry value="org.eclipse.m2e.editor.xml"/>
        <setEntry value="org.eclipse.m2e.importer"/>
        <setEntry value="org.eclipse.m2e.jdt"/>
        <setEntry value="org.eclipse.m2e.jdt.ui"/>
        <setEntry value="org.eclipse.m2e.launching"/>
        <setEntry value="org.eclipse.m2e.lifecyclemapping.defaults"/>
        <setEntry value="org.eclipse.m2e.logback.appender"/>
        <setEntry value="org.eclipse.m2e.logback.configuration"/>
        <setEntry value="org.eclipse.m2e.maven.indexer"/>
        <setEntry value="org.eclipse.m2e.maven.runtime"/>
        <setEntry value="org.eclipse.m2e.maven.runtime.slf4j.simple"/>
        <setEntry value="org.eclipse.m2e.model.edit"/>
        <setEntry value="org.eclipse.m2e.profiles.core"/>
        <setEntry value="org.eclipse.m2e.profiles.ui"/>
        <setEntry value="org.eclipse.m2e.refactoring"/>
        <setEntry value="org.eclipse.m2e.scm"/>
        <setEntry value="org.eclipse.m2e.sourcelookup"/>
        <setEntry value="org.eclipse.m2e.sourcelookup.ui"/>
        <setEntry value="org.eclipse.m2e.workspace.cli"/>
        <setEntry value="org.eclipse.mylyn.commons.core"/>
        <setEntry value="org.eclipse.mylyn.commons.notifications.core"/>
        <setEntry value="org.eclipse.mylyn.commons.notifications.ui"/>
        <setEntry value="org.eclipse.mylyn.commons.screenshots"/>
        <setEntry value="org.eclipse.mylyn.commons.ui"/>
        <setEntry value="org.eclipse.mylyn.commons.workbench"/>
        <setEntry value="org.eclipse.mylyn.wikitext"/>
        <setEntry value="org.eclipse.mylyn.wikitext.ant"/>
        <setEntry value="org.eclipse.mylyn.wikitext.asciidoc"/>
        <setEntry value="org.eclipse.mylyn.wikitext.asciidoc.ui"/>
        <setEntry value="org.eclipse.mylyn.wikitext.confluence"/>
        <setEntry value="org.eclipse.mylyn.wikitext.confluence.ui"/>
        <setEntry value="org.eclipse.mylyn.wikitext.help.ui"/>
        <setEntry value="org.eclipse.mylyn.wikitext.html"/>
        <setEntry value="org.eclipse.mylyn.wikitext.markdown"/>
        <setEntry value="org.eclipse.mylyn.wikitext.markdown.ui"/>
        <setEntry value="org.eclipse.mylyn.wikitext.mediawiki"/>
        <setEntry value="org.eclipse.mylyn.wikitext.mediawiki.ui"/>
        <setEntry value="org.eclipse.mylyn.wikitext.osgi"/>
        <setEntry value="org.eclipse.mylyn.wikitext.textile"/>
        <setEntry value="org.eclipse.mylyn.wikitext.textile.ui"/>
        <setEntry value="org.eclipse.mylyn.wikitext.tracwiki"/>
        <setEntry value="org.eclipse.mylyn.wikitext.tracwiki.ui"/>
        <setEntry value="org.eclipse.mylyn.wikitext.twiki"/>
        <setEntry value="org.eclipse.mylyn.wikitext.twiki.ui"/>
        <setEntry value="org.eclipse.mylyn.wikitext.ui"/>
        <setEntry value="org.eclipse.nebula.widgets.tablecombo"/>
        <setEntry value="org.eclipse.oomph.base"/>
        <setEntry value="org.eclipse.oomph.base.edit"/>
        <setEntry value="org.eclipse.oomph.extractor.lib"/>
        <setEntry value="org.eclipse.oomph.jreinfo"/>
        <setEntry value="org.eclipse.oomph.jreinfo.ui"/>
        <setEntry value="org.eclipse.oomph.jreinfo.win32.x86_64"/>
        <setEntry value="org.eclipse.oomph.p2"/>
        <setEntry value="org.eclipse.oomph.p2.core"/>
        <setEntry value="org.eclipse.oomph.p2.doc"/>
        <setEntry value="org.eclipse.oomph.p2.edit"/>
        <setEntry value="org.eclipse.oomph.p2.ui"/>
        <setEntry value="org.eclipse.oomph.predicates"/>
        <setEntry value="org.eclipse.oomph.predicates.edit"/>
        <setEntry value="org.eclipse.oomph.preferences"/>
        <setEntry value="org.eclipse.oomph.resources"/>
        <setEntry value="org.eclipse.oomph.resources.edit"/>
        <setEntry value="org.eclipse.oomph.setup"/>
        <setEntry value="org.eclipse.oomph.setup.core"/>
        <setEntry value="org.eclipse.oomph.setup.doc"/>
        <setEntry value="org.eclipse.oomph.setup.edit"/>
        <setEntry value="org.eclipse.oomph.setup.editor"/>
        <setEntry value="org.eclipse.oomph.setup.p2"/>
        <setEntry value="org.eclipse.oomph.setup.p2.edit"/>
        <setEntry value="org.eclipse.oomph.setup.sync"/>
        <setEntry value="org.eclipse.oomph.setup.ui"/>
        <setEntry value="org.eclipse.oomph.setup.ui.questionnaire"/>
        <setEntry value="org.eclipse.oomph.ui"/>
        <setEntry value="org.eclipse.oomph.util"/>
        <setEntry value="org.eclipse.oomph.workingsets"/>
        <setEntry value="org.eclipse.oomph.workingsets.edit"/>
        <setEntry value="org.eclipse.oomph.workingsets.editor"/>
        <setEntry value="org.eclipse.osgi"/>
        <setEntry value="org.eclipse.osgi.compatibility.state"/>
        <setEntry value="org.eclipse.osgi.services"/>
        <setEntry value="org.eclipse.osgi.util"/>
        <setEntry value="org.eclipse.pde"/>
        <setEntry value="org.eclipse.pde.api.tools"/>
        <setEntry value="org.eclipse.pde.api.tools.annotations"/>
        <setEntry value="org.eclipse.pde.api.tools.ui"/>
        <setEntry value="org.eclipse.pde.build"/>
        <setEntry value="org.eclipse.pde.core"/>
        <setEntry value="org.eclipse.pde.doc.user"/>
        <setEntry value="org.eclipse.pde.ds.annotations"/>
        <setEntry value="org.eclipse.pde.ds.core"/>
        <setEntry value="org.eclipse.pde.ds.lib"/>
        <setEntry value="org.eclipse.pde.ds.ui"/>
        <setEntry value="org.eclipse.pde.ds1_2.lib"/>
        <setEntry value="org.eclipse.pde.genericeditor.extension"/>
        <setEntry value="org.eclipse.pde.junit.runtime"/>
        <setEntry value="org.eclipse.pde.launching"/>
        <setEntry value="org.eclipse.pde.runtime"/>
        <setEntry value="org.eclipse.pde.ua.core"/>
        <setEntry value="org.eclipse.pde.ua.ui"/>
        <setEntry value="org.eclipse.pde.ui"/>
        <setEntry value="org.eclipse.pde.ui.templates"/>
        <setEntry value="org.eclipse.platform"/>
        <setEntry value="org.eclipse.platform.doc.user"/>
        <setEntry value="org.eclipse.rcp"/>
        <setEntry value="org.eclipse.search"/>
        <setEntry value="org.eclipse.swt"/>
        <setEntry value="org.eclipse.swt.browser.chromium.win32.win32.x86_64"/>
        <setEntry value="org.eclipse.swt.win32.win32.x86_64"/>
        <setEntry value="org.eclipse.team.core"/>
        <setEntry value="org.eclipse.team.genericeditor.diff.extension"/>
        <setEntry value="org.eclipse.team.ui"/>
        <setEntry value="org.eclipse.text"/>
        <setEntry value="org.eclipse.text.quicksearch"/>
        <setEntry value="org.eclipse.tips.core"/>
        <setEntry value="org.eclipse.tips.ide"/>
        <setEntry value="org.eclipse.tips.json"/>
        <setEntry value="org.eclipse.tips.ui"/>
        <setEntry value="org.eclipse.tm.terminal.connector.local"/>
        <setEntry value="org.eclipse.tm.terminal.connector.process"/>
        <setEntry value="org.eclipse.tm.terminal.connector.ssh"/>
        <setEntry value="org.eclipse.tm.terminal.connector.telnet"/>
        <setEntry value="org.eclipse.tm.terminal.control"/>
        <setEntry value="org.eclipse.tm.terminal.view.core"/>
        <setEntry value="org.eclipse.tm.terminal.view.ui"/>
        <setEntry value="org.eclipse.tm4e.core"/>
        <setEntry value="org.eclipse.tm4e.registry"/>
        <setEntry value="org.eclipse.tm4e.ui"/>
        <setEntry value="org.eclipse.tools.layout.spy"/>
        <setEntry value="org.eclipse.ui"/>
        <setEntry value="org.eclipse.ui.browser"/>
        <setEntry value="org.eclipse.ui.cheatsheets"/>
        <setEntry value="org.eclipse.ui.console"/>
        <setEntry value="org.eclipse.ui.editors"/>
        <setEntry value="org.eclipse.ui.externaltools"/>
        <setEntry value="org.eclipse.ui.forms"/>
        <setEntry value="org.eclipse.ui.genericeditor"/>
        <setEntry value="org.eclipse.ui.ide"/>
        <setEntry value="org.eclipse.ui.ide.application"/>
        <setEntry value="org.eclipse.ui.intro"/>
        <setEntry value="org.eclipse.ui.intro.quicklinks"/>
        <setEntry value="org.eclipse.ui.intro.universal"/>
        <setEntry value="org.eclipse.ui.monitoring"/>
        <setEntry value="org.eclipse.ui.navigator"/>
        <setEntry value="org.eclipse.ui.navigator.resources"/>
        <setEntry value="org.eclipse.ui.net"/>
        <setEntry value="org.eclipse.ui.themes"/>
        <setEntry value="org.eclipse.ui.trace"/>
        <setEntry value="org.eclipse.ui.views"/>
        <setEntry value="org.eclipse.ui.views.log"/>
        <setEntry value="org.eclipse.ui.views.properties.tabbed"/>
        <setEntry value="org.eclipse.ui.win32"/>
        <setEntry value="org.eclipse.ui.workbench"/>
        <setEntry value="org.eclipse.ui.workbench.texteditor"/>
        <setEntry value="org.eclipse.update.configurator"/>
        <setEntry value="org.eclipse.urischeme"/>
        <setEntry value="org.eclipse.userstorage"/>
        <setEntry value="org.eclipse.userstorage.oauth"/>
        <setEntry value="org.eclipse.userstorage.ui"/>
        <setEntry value="org.eclipse.wb.core"/>
        <setEntry value="org.eclipse.wb.core.databinding"/>
        <setEntry value="org.eclipse.wb.core.java"/>
        <setEntry value="org.eclipse.wb.core.lib"/>
        <setEntry value="org.eclipse.wb.core.ui"/>
        <setEntry value="org.eclipse.wb.doc.user"/>
        <setEntry value="org.eclipse.wb.layout.group"/>
        <setEntry value="org.eclipse.wb.os"/>
        <setEntry value="org.eclipse.wb.os.win32"/>
        <setEntry value="org.eclipse.wb.rcp"/>
        <setEntry value="org.eclipse.wb.rcp.SWT_AWT"/>
        <setEntry value="org.eclipse.wb.rcp.databinding"/>
        <setEntry value="org.eclipse.wb.rcp.databinding.emf"/>
        <setEntry value="org.eclipse.wb.rcp.doc.user"/>
        <setEntry value="org.eclipse.wb.rcp.nebula"/>
        <setEntry value="org.eclipse.wb.rcp.swing2swt"/>
        <setEntry value="org.eclipse.wb.runtime"/>
        <setEntry value="org.eclipse.wb.runtime.lib"/>
        <setEntry value="org.eclipse.wb.swing"/>
        <setEntry value="org.eclipse.wb.swing.FormLayout"/>
        <setEntry value="org.eclipse.wb.swing.FormLayout.lib"/>
        <setEntry value="org.eclipse.wb.swing.MigLayout"/>
        <setEntry value="org.eclipse.wb.swing.MigLayout.lib"/>
        <setEntry value="org.eclipse.wb.swing.databinding"/>
        <setEntry value="org.eclipse.wb.swing.doc.user"/>
        <setEntry value="org.eclipse.wb.swing.java6"/>
        <setEntry value="org.eclipse.wb.swing.jsr296"/>
        <setEntry value="org.eclipse.wb.swt"/>
        <setEntry value="org.eclipse.wb.swt.widgets.baseline"/>
        <setEntry value="org.eclipse.wildwebdeveloper.xml"/>
        <setEntry value="org.eclipse.wst.common.core"/>
        <setEntry value="org.eclipse.wst.common.emf"/>
        <setEntry value="org.eclipse.wst.common.environment"/>
        <setEntry value="org.eclipse.wst.common.frameworks"/>
        <setEntry value="org.eclipse.wst.common.frameworks.ui"/>
        <setEntry value="org.eclipse.wst.common.project.facet.core"/>
        <setEntry value="org.eclipse.wst.common.ui"/>
        <setEntry value="org.eclipse.wst.common.uriresolver"/>
        <setEntry value="org.eclipse.wst.sse.core"/>
        <setEntry value="org.eclipse.wst.sse.ui"/>
        <setEntry value="org.eclipse.wst.validation"/>
        <setEntry value="org.eclipse.wst.validation.ui"/>
        <setEntry value="org.eclipse.wst.xml.core"/>
        <setEntry value="org.eclipse.wst.xml.ui"/>
        <setEntry value="org.eclipse.wst.xsd.core"/>
        <setEntry value="org.eclipse.xsd"/>
        <setEntry value="org.eclipse.xtext.xbase.lib"/>
        <setEntry value="org.gradle.toolingapi"/>
        <setEntry value="org.hamcrest.core"/>
        <setEntry value="org.jacoco.agent"/>
        <setEntry value="org.jacoco.core"/>
        <setEntry value="org.jacoco.report"/>
        <setEntry value="org.jcodings"/>
        <setEntry value="org.joni"/>
        <setEntry value="org.jsoup"/>
        <setEntry value="org.junit"/>
        <setEntry value="org.junit.jupiter.api"/>
        <setEntry value="org.junit.jupiter.engine"/>
        <setEntry value="org.junit.jupiter.migrationsupport"/>
        <setEntry value="org.junit.jupiter.params"/>
        <setEntry value="org.junit.platform.commons"/>
        <setEntry value="org.junit.platform.engine"/>
        <setEntry value="org.junit.platform.launcher"/>
        <setEntry value="org.junit.platform.runner"/>
        <setEntry value="org.junit.platform.suite.api"/>
        <setEntry value="org.junit.vintage.engine"/>
        <setEntry value="org.objectweb.asm*8.0.1.v20200420-1007"/>
        <setEntry value="org.objectweb.asm*9.0.0.v20201001-1419"/>
        <setEntry value="org.objectweb.asm.commons"/>
        <setEntry value="org.objectweb.asm.tree*8.0.1.v20200420-1007"/>
        <setEntry value="org.objectweb.asm.tree*9.0.0.v20201001-1419"/>
        <setEntry value="org.opentest4j"/>
        <setEntry value="org.sat4j.core"/>
        <setEntry value="org.sat4j.pb"/>
        <setEntry value="org.slf4j.api"/>
        <setEntry value="org.tukaani.xz"/>
        <setEntry value="org.w3c.css.sac"/>
        <setEntry value="org.w3c.dom.events"/>
        <setEntry value="org.w3c.dom.smil"/>
        <setEntry value="org.w3c.dom.svg"/>
    </setAttribute>
    <setAttribute key="selected_workspace_bundles">
        <setEntry value="DriverConsumer@default:default"/>
        <setEntry value="DriverPublisher@default:default"/>
        <setEntry value="VehicleRentalDatabase@default:default"/>
        <setEntry value="com.mysql.jdbc@default:default"/>
    </setAttribute>
    <booleanAttribute key="show_selected_only" value="false"/>
    <booleanAttribute key="tracing" value="false"/>
    <booleanAttribute key="useCustomFeatures" value="false"/>
    <booleanAttribute key="useDefaultConfigArea" value="true"/>
</launchConfiguration>
